<!-- app/views/devise/sessions/new.html.erb -->
<div class="container mt-5">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'row g-3' }) do |f| %>
    <div class="col-md-6">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="col-12 form-check">
      <%= f.check_box :remember_me, class: "form-check-input" if devise_mapping.rememberable? %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>

    <div class="col-12">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
